header h3 {
    color: green;
    /* background-color: yellow; */
    text-align: center;
    font-size: 68px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: yellow;
    /* Moves the title against the left side and wraps the text */
    padding-right: 100%;
    padding-bottom: 100%;
}

/* Body Below */

body {
    /* background-color: lightgrey; */
    background-image: url(../assets/images/greenbaystadium.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110% 100%;
    /* position: fixed; */
    background-attachment: fixed;
    background-position: right 0px top 0%;
}

div {
    width: 100%;
    height: fit-content;
    /* border: 2px solid red ; */
    display: flex;
}

information {
    width: 75%;
    /* float: left; */
    padding: 4%;
    /* background-color: aliceblue; */
    /* padding: auto; */
    height: fit-content;
    /* width: fit-content; */
    background-color: rgba(222, 246, 1, 0.4);
    margin-left: 1.5%;
    /* text-align: center; */
    border-radius: 20%;
}

about {
    font-weight: bolder;
    font-size: 25px;
    color: white;
    margin-left: 50px;
    font-style: italic;
    /* Would like to have specific backgrounds for each section...Currently working on it */
    /* background-color: red; */
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

purpose {
    font-weight: bolder;
    font-size: 25px;
    color: white;
    margin-left: 50px;
    font-style: italic;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

obj {
    font-weight: bolder;
    font-size: 25px;
    color: white;
    margin-left: 50px;
    font-style: italic;
    -webkit-text-stroke: 2px;
    -webkit-text-stroke-color: black;
}

h2 {
    color: green;
    text-align: center;
    border-bottom: 1px solid yellow;
    margin: 2% 12% 2% 10%;
    padding-left: 10%;
}

aside {
    text-align: center;
    color: white;
    border: 10px solid black;
    float: right;
    height: fit-content;
    width: 13%;
    /* background-color: rgb(42, 1, 246, .5); */
    position: fixed;
    top: 3%;
    right: 0%;
    font-size: 20px;
    background-image: url(images/nfl-stadiums-grass-or-turf-scaled.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#submit {
    border: 3px solid white;
    padding: 2px;
}

/* Body2 Below */

body2 {
    color: red;
    height: fit-content;
    padding: 5%;
    display: block;
    margin-left: 15%;
    margin-right: auto;
    width: 50%;
    text-align: center;
}

.image {
    height: 45%;
    width: 45%;
    /* This below will center images. Stack on top of each other */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    border-radius: 10%;
}

.subtitle {
    color: yellow;
    font-size: 50px;
    padding-bottom: 35px;
}

/* Footer Below */

contact {
    color: yellow;
    font-size: x-large;
}

footer {
    /* position: fixed; */
    bottom: 1%;
    width: 100%;
    background: rgba(51, 170, 51, .9);
    /* padding-top: 20px; */
}